/* Tabs */

#bothTabsContainer {
  display: grid;
  grid-template-columns: auto 15rem 1rem;
  justify-content: start;
  grid-gap: 1rem;
  padding-left: 1.5rem;
  align-items: center;
}

.tab_title1,
.tab_title2 {
  padding: 0.5rem;
  cursor: pointer;
}

.tab_title3 {
  width: 2rem;
  text-align: center;
  cursor: pointer;
}

.tab_title1 span,
.tab_title2 span {
  margin-left: 0.5rem;
}

#repoCount {
  background-color: #c0c0c0;
  border-radius: 1rem;
  padding: 0.3rem;
}

.tab_title1:hover {
  background-color: #e5e4e2;
  padding: 0.5rem;
}

.tab_title2:hover {
  background-color: #e5e4e2;
  padding: 0.5rem;
  width: 11rem;
}

.tab_title3:hover {
  background-color: #e5e4e2;
  border-radius: 0.5rem;
}
